@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-indigo-600: #005aff;
    --color-indigo-700: #004ecc;
    --color-indigo-50: #f0f6ff;
    --color-indigo-100: #e0ecff;
}

body {
    @apply bg-white text-slate-800 text-sm font-poppins antialiased;
}

button {
    @apply cursor-pointer;
}